node_modules
dist
build
.turbo
.vite
target
**/.env
**/.env.local
**/.DS_Store
*.log
coverage
playwright-report
test-results
.idea
.vscode
!.vscode/extensions.json
src-tauri/target
src-tauri/gen
.deploy-key
**/tsconfig.tsbuildinfo